@import "utils";

.header {
  position: relative;
  min-height: 720px;
  font-family: $textFont;
  color: #1e266d;
  background: linear-gradient(
    180deg,
    rgba(242, 249, 255, 0.12) 0%,
    #f2f9ff 100%
  );

  //&__top {
  //  margin-bottom: 80px;
  //}

  &__wrap {
    position: relative;
    min-height: 640px;
    display: flex;
    justify-content: space-between;

  }

  &__main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    text-align: center;
    font-family: $headersFont;
    font-size: 56px;
    line-height: 58px;
    margin-bottom: 25px;
  }

  &__subtitle {
    text-align: center;
    font-family: $textFont;
    font-size: 18px;
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }

  &__button {
    display: inline-block;
    margin-right: 23px;
    line-height: 50px;
    font-family: $textFont;
    font-size: 16px;
    padding: 0 35px;
    background-color: #3751ff;
    color: white;
    border-radius: 100px;
  }

  &__picture {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 640px;
  }
}
