@import "utils";

.help {
  padding: 95px 0;

  &__title {
    margin-bottom: 60px;
    color: $headersTextColor;
    text-align: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  &__img {
    max-width: 50%;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    padding-top: 85px;
    padding-left: 110px;
  }

  &__card {
    margin-bottom: 45px;
  }

}
