@import "utils";

.top-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 50px;

  &__description {
    margin-bottom: 40px;
    font-family: $textFont;
    //font-size: 16px;
    line-height: 27px;
    color: $textColor;
    opacity: 50%;
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 60px;
  }

  &__link {
    display: inline-block;
    padding: 15px 0;
    border-radius: 10px;
    transition: transform 0.5s ease;
  }

  &__link:hover {
    transform: translateY(-20px);
  }

}
